---
name: CI

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    build:
        runs-on: ubuntu-24.04
        steps:
            - uses: actions/checkout@v6
            - name: Set up Python 3.13
              uses: actions/setup-python@v6
              with:
                  python-version: 3.13
                  cache: 'pip'
            - name: Install asdf & tools
              uses: asdf-vm/actions/install@v4
            - name: Install dependencies
              run: make sync
            - name: Lint with pre-commit
              run: make pre-commit
            - name: Pyright check
              run: make type-check
            - name: Test with pytest
              run: make unittests
            - name: Integration tests
              env:
                  DUMP_COMMAND: true
              run: |
                  set -eux -o pipefail
                  # Need -e install for pytest, but real install for mitogen to work
                  pip install -r requirements.txt
                  pip install .

                  cd integration_test
                  chmod 600 docker/configs/test_key
                  docker compose up --build -d
                  wget https://raw.githubusercontent.com/vishnubob/wait-for-it/81b1373f17855a4dc21156cfe1694c31d7d1792e/wait-for-it.sh
                  chmod +x wait-for-it.sh
                  ./wait-for-it.sh -h localhost -p 2000 -t 120
                  python -m paracrine.commands.setup ./docker/inventory.yaml
                  python main.py -i ./docker/inventory.yaml
                  python main.py -i ./docker/inventory.yaml --apply
